/****** Tag selectors ******/
/* */
html{
    background-color: #635666;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 65px;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    padding: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    text-align: center;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: #6a80a3;
    background-color: #AEDBCE;
    border-width: 5px;
    width: 5%;
}

/****** Class selectors ******/
/* */
/*General items*/
/**/
.emphasised{
    text-decoration: underline;
    font-style: italic;
}

.underlined{
    text-decoration: underline;
}

.body-text{
    margin-top: 32px;
    margin-bottom: 40px;
}

/*top-container items*/
/**/
.top-container{
    background-color: #D3EBCD;
    padding: 10px;
    margin: 0;
    position: relative;
    padding-top: 12px;
}

.profile-image{
    width: 65%;
    height: 65%;  
}

.introduction-name{
    position: relative;
    padding-bottom: 7%;
}

.introduction-text{
    font-size: 18px;
    margin-bottom: 0;
}

/*mid-container items*/
/**/
.mid-container{
    background-color: #AEDBCE;
    padding: 10px;
    margin: 0;
}

.education-title{
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.education-table{
    position: relative;
    padding-right: 4.5%;
    width: 50%;
    margin-bottom: 20px;
}

.code-logo{
    width: 130px;
    height: 130px;
    position: relative;
    padding: 10px 10px 15px 10px;
}

.phd-row{
    padding-bottom: 15px;
}

.cfd-skill-image{
    width: 600px;
    height: 230px;
    padding-bottom: 10px;
}
/*bot-container items*/
/**/
.bot-container{
    background-color: #839AA8;
    padding: 10px;
    margin: 0;
}

.contact-me{
    margin-bottom: 10px;
    margin-top: 10px;
}